body {
    font-family: Arial, sans-serif;
    background: #f2f6ff;
    overflow-x: hidden;

}

.container {
    width: 400px;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;       /* vertical alignment */
    justify-content: center;   /* center whole row */
    gap: 5px;                 /* space between logo & text */
    margin-bottom: 10px;
}

.logo {
    width: 70px;   /* adjust if needed */
    height: auto;
}

.company-name {
    color: #ea30c1;
    margin: 0;
}



input, select, textarea, button {
    width: 95%;
    margin: 8px 0;
    padding: 10px;
}

button {
    background: #ea30c1;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

a {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #007bff;
}

.result {
    margin-top: 10px;
    font-weight: bold;
}
